/odoo/extra_addons/stock_mts_mto_rule/
/odoo/extra_addons/hfb_baselinker_api/
/odoo/extra_addons/l10n_pl_trilab/
/odoo/extra_addons/sqs_zz_cost_on_pz/
/odoo/extra_addons/trilab_invoice/
/odoo/extra_addons/trilab_jpk_base/
/odoo/extra_addons/trilab_jpk_vat/
/odoo/extra_addons/trilab_live_currency_nbp/
/odoo/extra_addons/trilab_pl_reports/
/odoo/extra_addons/wz_auto_confirm/
/odoo/conf/
/odoo/cli/
/odoo/addons/
/odoo/modules/
/odoo/osv/
/dist/
/build/
/odoo/service/
/odoo/tests/
/odoo/tools/
/odoo/upgrade/
/odoo.egg-info/
/setup/
/venv/
